In [71]:
import pandas as pd

In [138]:
df = pd.read_csv("adult.data.csv")

In [151]:
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## counting each race

In [75]:
race_group = df.groupby('race')

race_group['age'].count()

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: age, dtype: int64

## average age of men

In [26]:
all_males = df.loc[df['sex'] == 'Male', 'age']

all_males.mean()

39.43354749885268

In [36]:
percent_bachelors = len(df.loc[df['education'] == 'Bachelors']) / len(df)
percent_bachelors

0.16446055096587942

## Percent of people with advanced degree(Bachelor, master's, doctorate) that make more than $50K?

In [58]:
adv_degree_per = len(df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate') & (df['salary'] == '>50K')]) / len(df)
adv_degree_per

0.22677436196677006

## Percent of people without advanced degrees that make more than 50k

In [61]:
not_adv_degree_per = len(df.loc[~(df['education'] == 'Bachelors') & ~(df['education'] == 'Masters') & ~(df['education'] == 'Doctorate') & (df['salary'] == '>50K')]) / len(df)
not_adv_degree_per

0.13374896348392248

## minimum number of hours someone works per week

In [67]:
min_hours_per_week = df['hours-per-week'].min()
min_hours_per_week

1

## minimum number of hours someone works per week and still make 50k

In [69]:
len(df.loc[(df['hours-per-week'] == min_hours_per_week) & (df['salary'] == '>50K')]) / len(df)

6.142317496391388e-05

## What country has highest percent of people who make over 50K

In [132]:
country = df.loc[df['salary'] == '>50K']
country1 = country.groupby('native-country')['salary'].count()

country_totals = df.groupby('native-country')['salary'].count()

percent_over_50k = country1/country_totals
percent_over_50k.idxmax()

'Iran'

## most popular occupation in who earns over 50k in India

In [150]:
rich_india = df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K')]

rich_india.groupby('occupation')['age'].count()

occupation
Adm-clerical         1
Exec-managerial      8
Other-service        2
Prof-specialty      25
Sales                1
Tech-support         2
Transport-moving     1
Name: age, dtype: int64